/* "*" is selecting all elemnets for box-sizing */
* {
  box-sizing: border-box;
}

body {
  background-color: #777;
  background-image: url(../images/subtle_white_feathers.png);
}

/* Container for all elements to maintain the 960px width */
.container {
  position: "";
  width: 960px;
}

/* Container for the header at top of page */
.head {
  width: 100%;
  padding: 0 3%;
  border: 1px solid rgb(220, 220, 220);
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(233, 233, 233);
  border-color: #cccccc;
  overflow: hidden;
  position: relative;
}

/* the container within the header for my name */
.header {
  background-color: #7a9b99;
  color: rgb(233, 233, 233);
  width: auto;
  height: auto;
  text-align: center;
  padding: 3%;
  overflow: hidden;
  position: relative;
  margin: 0%;
  border: 0px 1px solid rgb(220, 220, 220);
}

/* my name at the top of site */
.name {
  position: relative;
  font-size: x-large;
}

/* bootstrap navbar container */
.navbar {
  display: flex;
  width: 100%;
  padding: 0%;
  align-items: unset;
  justify-content: unset;
}

/* Nav links to pages on site */
#navbarNav {
  justify-content: flex-end;
}

/* Nav links to each page */
#aboutlink {
  border-right: 1px solid #777;
}

#contactlink {
  border-right: 1px solid #777;
}

#portfoliolink {
  padding: "";
}

.aboutMe {
  position: relative;
  line-height: 160%;
  padding: 5%;
}

.aboutMe ul {
  position: relative;
  left: 3%;
}

.aboutMe ul li {
  list-style-type: disc;
}

/* main-info title, About,Contact,Portfolio */
.logo {
  border-bottom: 1px solid darkgrey;
  position: relative;
  padding: 2%;
  font-size: x-large;
}

.logo p {
  width: 30%;
  color: #7a9b99;
}

/* picture on about page */
#profilePic {
  height: 420px;
  width: 280px;
  float: left;
  clear: left;
  position: inline;
  border: 2px rgb(220, 220, 220) solid;
  margin: 30px;
}

/* Container for main body of info on each page */
#main-info {
  position: relative;
  background-color: rgb(233, 233, 233);
  border: 2px solid rgb(220, 220, 220);
  margin: 2% 3%;
  padding: 2%;
  display: block;
  background-image: url(../images/rockywall.png);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  position: sticky;
  z-index: 200;
  width: 100%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin-top: 0.1%;
  border-top: 3px solid #7a9b99;
  background-color: #666666;
  color: #ffffff;
  bottom: 0%;
}

.nav-link
{
  padding: 0;
}

/* Styling for form on contact page */
.form {
  margin: 2% 12.5%;
  clear: both;
}

input {
  width: 100%;
  margin: 2% 0%;
}

textarea {
  width: 100%;
  margin: 2% 0%;
}

#sendButton {
  width: auto;
}

/* Styling for the photo grid on portfolio page */
.projectGrid {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(24, 5vw); */
  grid-gap: 15px;
}

.wrap {
  position: relative;

}

.projectGrid a {
  position: relative;
}

.projectGrid p {
  position: absolute;
  z-index: 10;
  bottom: 5px;
  background-color: #7a9b99;
  color: #ffffff;
  border: 1px solid rgb(220, 220, 220);
  padding: 3%;
  bottom: 14%;
  width: 100%;
}

.projectGrid img {
  border: 1px rgb(220, 220, 220) solid;
  margin: auto;
  padding: auto;
  height: 100%;
  width: 100%;
  object-fit: over;
}
.col-lg-12 p {
  z-index: 1;
  background-color: #7a9b99;
  width: 12.5%;
  text-decoration: none;
  overflow: hidden;
  color: #ffffff;
}

#project1 {
  order: 1;
  align-items: flex-start;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 8;
}
#project2 {
  order: 2;
  align-items: flex-start;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 8;
  /* max-width: auto; */
  /* height: auto; */
}
#project3 {
  order: 3;
  align-items: flex-start;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 9;
  grid-row-end: 16;
}
#project4 {
  order: 4;
  align-items: flex-start;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end: 16;
}
#project5 {
  order: 5;
  align-items: flex-start;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 17;
  grid-row-end: 24;
}

#project6 {
  order: 6;
  align-items: flex-start;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 17;
  grid-row-end: 24;
}
#project7 {
  order: 7;
  align-items: flex-start;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 25;
  grid-row-end: 32;
  max-height: fit-content;
}

#project8 {
  order: 8;
  align-items: flex-start;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 25;
  grid-row-end: 32;
  max-height: fit-content;
}
#project9 {
  order: 9;
  align-items: flex-start;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 33;
  grid-row-end: 40;
}
#goodReadMe {
  align-items: center;
}

img {
  border: 1px rgb(220, 220, 220) solid;
  margin: auto;
  padding: auto;
 
}
